@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Farro", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #efefef;
  color: #535353;
  background-color: #def2f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg, canvas {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-transition: none;
  transition: none;
}

canvas {
  position: absolute;
}

a {
  color: #3aafa9;
  text-decoration: none;
}

a:hover {
  color: #2b7a78;
}

path {
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
}

path:hover {
  stroke-width: 8px;
}

ellipse {
  stroke-width: 2px;
  stroke: black;
  fill-opacity: 0;
}

line {
  stroke: yellow;
  stroke-width: 2px;
}

form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

label {
  font-size: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto 10px;
}

input {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
  color: #535353;
  padding: 5px;
  border: 2px solid rgba(58, 175, 169, 0.4);
  border-radius: 10px;
}

input:focus {
  border-color: #3aafa9;
  outline: none;
}

ul.series {
  list-style: none;
  padding: 10px;
}

ul.series li:nth-child(2n) {
  background-color: rgba(58, 175, 169, 0.2);
}

li p, li h3 {
  margin: 4px 0;
}

#root {
  height: 100%;
  width: 100%;
}

#focusBox {
  height: 100%;
  border: none;
}

#createButton {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto 0 auto 20px;
}

#mapContainer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
}

#cookieAlert:not(.hidden) {
  z-index: 1000;
  width: 365px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 10px;
          box-shadow: 3px 3px 10px;
  border-radius: 20px;
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#cookieAlert:not(.hidden) p {
  text-align: center;
}

#cookieAlert:not(.hidden) .btn-container {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}

#cookieAlert:not(.hidden) button {
  font-size: 16px;
}

.btn, .join-btn {
  line-height: initial;
  display: inline-block;
  padding: 16px 35px;
  text-shadow: none;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #535353;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover, .join-btn:hover {
  color: #535353;
  text-decoration: none;
}

.join-btn {
  padding: 8px 18px;
  width: 100px;
}

.btn-container {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.btn-primary {
  outline: none;
  position: relative;
  font-size: 1rem;
  background-color: rgba(58, 175, 169, 0.4);
}

.btn-primary:hover::before {
  height: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn-primary::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border-radius: 100px;
  background-color: #3aafa9;
  -webkit-transform: scaleX(0.75);
          transform: scaleX(0.75);
}

.title {
  text-align: center;
  font-size: 400%;
  margin-bottom: 0;
  color: #17252a;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.center {
  margin: 0 auto;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bgio-client {
  display: contents;
}

.vert-col {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui {
  z-index: -100;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr 2fr;
      grid-template-columns: 2fr 6fr 2fr;
  -ms-grid-rows: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
      grid-template-rows: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-gap: 10px;
      grid-template-areas: "left . topRight" "left . right" "bottom bottom bottom";
}

.ui * {
  z-index: 100;
}

.outline, .text-box, .ui-box {
  border: 1px solid #17252a;
  border-radius: 10px;
}

.text-box, .ui-box {
  padding: 5px;
}

.text-box h3, .ui-box h3 {
  font-weight: 500;
  margin: 8px 0;
}

.ui-box {
  background-color: rgba(222, 242, 241, 0.6);
}

.ui-box:hover {
  background-color: rgba(222, 242, 241, 0.9);
}

.bold {
  font-weight: 600;
  color: #17252a;
}

.game-list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  border-radius: 5px;
  padding: 0 10px;
  height: 45px;
}

.game-list-item:hover:not(#header) {
  background-color: rgba(58, 175, 169, 0.4) !important;
}

.game-list-item * {
  margin: auto 0;
}

.loader {
  height: 106px;
  width: 106px;
  border: 3px solid transparent;
  border-bottom-color: #3aafa9;
  border-radius: 100%;
  margin: auto;
  position: relative;
  -webkit-animation: rotate100 infinite linear 1.5s;
          animation: rotate100 infinite linear 1.5s;
}

.loader::before {
  content: "";
  position: absolute;
  display: inline-block;
  margin: 5px;
  height: 90px;
  width: 90px;
  border: 3px solid transparent;
  border-bottom-color: #2b7a78;
  border-radius: 100%;
  -webkit-animation: rotate100 infinite linear 2.25s;
          animation: rotate100 infinite linear 2.25s;
}

.loader::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0px;
  margin: 13px;
  height: 74px;
  width: 74px;
  border: 3px solid transparent;
  border-bottom-color: #17252a;
  border-radius: 100%;
  -webkit-animation: rotate100 infinite linear 1.5s;
          animation: rotate100 infinite linear 1.5s;
}

@-webkit-keyframes rotate100 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate100 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.height100 {
  height: 100%;
}

.top-space {
  position: relative;
  top: 25%;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}
