@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Farro', sans-serif;
}

body {
  margin: 0;
  background-color: #efefef;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 400%;
  margin-bottom: 0;
}

.title h2 {
  color: #707070;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding: 1rem;
}

.row.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-size: 150%;
  color: #424242;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: #424242;
  -webkit-transform: scaleX(0) scaleY(1.6);
          transform: scaleX(0) scaleY(1.6);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.btn:hover::before {
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
}

svg {
  overflow: hidden;
  position: absolute;
}

path {
  stroke: black;
  stroke-width: 2px;
}

path:hover {
  stroke-width: 6px;
}

ellipse {
  stroke-width: 2px;
  stroke: black;
  fill-opacity: 0;
}

line {
  stroke: yellow;
  stroke-width: 2px;
}
