@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap");

// $bg-color: #3895ff;
$bg-color: #def2f1;
$text-color-accent: #17252a;
$text-color: #535353;
$muted-color: #7a7a7a;

$main-accent: #3aafa9;
$dark-accent: #2b7a78;
$black-accent: #17252a;

*,
*::before,
*::after {
    transition: 0.3s;
    box-sizing: border-box;
    font-family: "Farro", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #efefef;
    color: $text-color;
    background-color: $bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg, canvas {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    transition: none;
}

canvas {
    position: absolute;
}

a {
    color: $main-accent;
    text-decoration: none;

    &:hover {
        color: $dark-accent;
    }
}

path {
    stroke: black;
    stroke-width: 2px;
    cursor: pointer;

    &:hover {
        stroke-width: 8px;
    }
}

ellipse {
    stroke-width: 2px;
    stroke: black;
    fill-opacity: 0;
}

line {
    stroke: yellow;
    stroke-width: 2px;
}

form {
    justify-content: center;
    display: flex;
    margin: 20px 0;
}

label {
    font-size: 20px;
    height: min-content;
    margin: auto 10px;
}

input {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    color: $text-color;
    padding: 5px;
    border: 2px solid rgba($main-accent, 0.4);
    border-radius: 10px;

    &:focus {
        border-color: $main-accent;
        outline: none;
    }
}

ul.series {
    list-style: none;
    padding: 10px;

    li:nth-child(2n) {
        background-color: rgba($main-accent, 0.2)
    }
}

li p, li h3 {
    margin: 4px 0;
}

#root {
    height: 100%;
    width: 100%;
}

#focusBox {
    height: 100%;
    border: none;
}

#createButton {
    height: min-content;
    margin: auto 0 auto 20px;
}

#mapContainer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
}

#cookieAlert:not(.hidden) {
    z-index: 1000;
    width: 365px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    box-shadow: 3px 3px 10px;
    border-radius: 20px;
    display: block;
    justify-content: space-around;

    p {
        text-align: center;
    }

    .btn-container {
        margin: auto;
        width: max-content;
        display: block;
    }

    button {
        font-size: 16px;
    }
}

.btn {
    line-height: initial;
    display: inline-block;
    padding: 16px 35px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    border: none;
    color: $text-color;

    border-radius: 100px;
    cursor: pointer;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

.join-btn {
    @extend .btn;
    padding: 8px 18px;
    width: 100px;
}

.btn-container {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.btn-primary {
    outline: none;
    position: relative;
    font-size: 1rem;
    background-color: rgba($main-accent, 0.4);

    &:hover {
        &::before {
            height: 100%;
            transform: scaleX(1);
        }
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        border-radius: 100px;
        background-color: $main-accent;
        transform: scaleX(0.75);
    }
}

.title {
    text-align: center;
    font-size: 400%;
    margin-bottom: 0;
    color: $text-color-accent;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.col {
    padding: 1rem;
    flex-direction: column;
    width: max-content;
}

.center {
    margin: 0 auto;
}

.flex-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.bgio-client {
    display: contents;
}

.vert-col {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.ui {
    z-index: -100;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
    grid-gap: 10px;
    grid-template-areas: "left . topRight"
                         "left . right"
                         "bottom bottom bottom";

    * {
        z-index: 100;
    }
}

.outline {
    border: 1px solid $black-accent;
    border-radius: 10px;
}

.text-box {
    @extend .outline;
    padding: 5px;

    h3 {
        font-weight: 500;
        margin: 8px 0;
    }

}

.ui-box {
    @extend .text-box;
    background-color: rgba($bg-color, .6);

    &:hover {
        background-color: rgba($bg-color, .9);
    }
}

.bold {
    font-weight: 600;
    color: $text-color-accent;
}

.game-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    border-radius: 5px;
    padding: 0 10px;
    height: 45px;

    &:hover:not(#header) {
        background-color: rgba($main-accent, 0.4) !important;
    }

    * {
        margin: auto 0;
    }
}

.loader {
    height: 106px;
    width: 106px;
    border: 3px solid transparent;
    border-bottom-color: $main-accent;
    border-radius: 100%;
    margin: auto;
    position: relative;
    animation: rotate100 infinite linear 1.5s;

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        margin: 5px;
        height: 90px;
        width: 90px;
        border: 3px solid transparent;
        border-bottom-color: $dark-accent;
        border-radius: 100%;
        animation: rotate100 infinite linear 2.25s;
    }

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0px;
        margin: 13px;
        height: 74px;
        width: 74px;
        border: 3px solid transparent;
        border-bottom-color: $black-accent;
        border-radius: 100%;
        animation: rotate100 infinite linear 1.5s;
    }
}

@keyframes rotate100 {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.height100 {
    height: 100%;
}

.top-space {
    position: relative;
    top: 25%;
}

.fixed {
    position: fixed;
}

.hidden {
    display: none;
}